CompletedWorkflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "beauty-analysis",
        "responseMode": "responseNode",
        "options": {
          "binaryPropertyName": "image"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1200,
        656
      ],
      "id": "2a0839ef-671b-447a-bff4-5be9b0197edd",
      "name": "Webhook1",
      "webhookId": "b65479cc-661d-441d-ae74-b59b90e588b2"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\n\nconst binaryData = await this.helpers.getBinaryDataBuffer(0, 'image0');\n\nreturn [{\n  json: {\n    mimeType: item.binary.image0.mimeType,\n    imageBase64: binaryData.toString('base64')\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -976,
        656
      ],
      "id": "970f9433-f374-4daa-8f91-91381825ad1a",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "{{env.GEMINI_API_KEY}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [\n    {\n      \"parts\": [\n        {\n          \"text\": \"Analyze this face image. Return ONLY valid JSON. No markdown. No explanations. Schema: {\\\"skin_tone\\\":\\\"\\\",\\\"undertone\\\":\\\"\\\",\\\"face_shape\\\":\\\"\\\",\\\"skin_type\\\":\\\"\\\",\\\"visible_features\\\":[],\\\"confidence\\\":0.0}\"\n        },\n        {\n          \"inline_data\": {\n            \"mime_type\": \"{{$json.mimeType}}\",\n            \"data\": \"{{$json.imageBase64}}\"\n          }\n        }\n      ]\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -784,
        656
      ],
      "id": "1ab698f6-34ee-481b-8eb2-0144c14b8ce6",
      "name": "Feature extraction"
    },
    {
      "parameters": {
        "jsCode": "const text =\n$input.first().json.candidates[0].content.parts[0].text;\n\nreturn [{\n  json: JSON.parse(text)\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -608,
        656
      ],
      "id": "19e573f1-b676-47cb-8270-3e3ce3a39912",
      "name": "Code in JavaScript6"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -576,
        1184
      ],
      "id": "ed02e9ba-bd95-41f2-8d0e-e6241c17669c",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "eUIOG5LqAzd7X5ED",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a professional color analyst.\n\nAnalyze the following beauty profile:\n\n{{ JSON.stringify($json) }}\n\nReturn ONLY valid JSON.\n\n{\n  \"season\": \"\",\n  \"recommended_colors\": [],\n  \"avoid_colors\": []\n}\n\nDo not include markdown.\nDo not explain.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -336,
        416
      ],
      "id": "2fc928c3-022b-4d75-a33e-91cf90edfc69",
      "name": "Colour Palette Agent"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a professional beauty product recommender.\n\nUser profile:\n\n{{ JSON.stringify($json) }}\n\nReturn ONLY valid JSON.\n\n{\n  \"foundation_family\": \"\",\n  \"concealer_family\": \"\",\n  \"blush_family\": \"\",\n  \"lipstick_family\": \"\",\n  \"recommended_products\": [\n    {\n      \"type\": \"\",\n      \"shade\": \"\",\n      \"reason\": \"\"\n    }\n  ]\n}\n\nNo markdown.\nNo explanations.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -336,
        656
      ],
      "id": "897dc2b9-1456-477c-886f-f546adbae1b9",
      "name": "Product Match Agent"
    },
    {
      "parameters": {
        "jsCode": "const product = JSON.parse($json.output);\n\nreturn [{\n  json: {\n    ...$('Code in JavaScript6').first().json,\n    ...product\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        656
      ],
      "id": "c4e2f8f2-249e-4f28-a659-3a1e9e79e985",
      "name": "Product Parser"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a professional makeup artist.\n\nUser profile:\n\n{{ JSON.stringify($json) }}\n\nReturn ONLY valid JSON.\n\n{\n  \"placement\": {\n    \"blush\": \"\",\n    \"bronzer\": \"\",\n    \"contour\": \"\",\n    \"highlighter\": \"\"\n  },\n  \"tips\": []\n}\n\nNo markdown.\nNo explanations.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -336,
        896
      ],
      "id": "bfbc0db3-855c-4689-a8d8-af1ad2fceaec",
      "name": "MakeUp Placement"
    },
    {
      "parameters": {
        "jsCode": "const makeup = JSON.parse($json.output);\n\nreturn [{\n  json: {\n    ...$('Code in JavaScript6').first().json,\n    ...makeup\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        896
      ],
      "id": "fb1aecc6-c3e1-4ae2-be82-da4640155277",
      "name": "Makeup Placement Parser"
    },
    {
      "parameters": {
        "jsCode": "const palette = JSON.parse($json.output);\n\nreturn [{\n  json: {\n    ...$('Code in JavaScript6').first().json,\n    ...palette\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        416
      ],
      "id": "835456c1-0d1b-4085-a82e-47ff0891cbf7",
      "name": "color palette parser"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        272,
        560
      ],
      "id": "9c59ab3e-ef1e-4cc5-a8f7-be32c9ca8e38",
      "name": "Merge3"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        480,
        752
      ],
      "id": "5decb849-e903-4b17-a048-50fe93252b61",
      "name": "Merge4"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a professional beauty consultant and final quality reviewer.\n\nUsing all available analysis data:\n\n{{ JSON.stringify($json) }}\n\nGenerate a structured beauty report.\n\nConfidence Scoring Instructions:\n\nConfidence should represent certainty in the beauty recommendations, NOT image quality alone.\n\nWhen determining confidence, consider:\n\n* Reliability of undertone detection\n* Reliability of seasonal color palette assignment\n* Possibility of alternative interpretations\n* Lighting conditions and potential lighting bias\n* Whether the image appears edited, filtered, or studio-lit\n* Strength of evidence supporting product recommendations\n* Consistency between all agent outputs\n\nImportant Rules:\n\n* A clear image alone is NOT sufficient for a confidence score above 90.\n* Scores above 90 should be extremely rare.\n* Most analyses should fall between 60 and 85.\n* If multiple undertones, palettes, or recommendations could reasonably fit, confidence should not exceed 80.\n* For a single uploaded image, confidence should generally remain below 85 unless there is exceptionally strong evidence and minimal ambiguity.\n\nConfidence Scale:\n\n90-100:\nNear-certain analysis with minimal ambiguity and exceptionally strong supporting evidence.\n\n80-89:\nStrong confidence with only minor uncertainty.\n\n60-79:\nModerate confidence. This should be the default range for most analyses.\n\n40-59:\nNoticeable ambiguity or conflicting indicators.\n\n0-39:\nInsufficient information or highly uncertain analysis.\n\nReturn ONLY valid JSON.\n\n{\n\"summary\": \"\",\n\"best_colors\": [],\n\"makeup_recommendations\": [],\n\"product_recommendations\": [],\n\"beauty_tips\": [],\n\"confidence\": 0,\n\"confidence_reason\": \"\",\n}\n\nRules:\n\n* confidence must be an integer between 0 and 100.\n* confidence_reason should briefly explain why that confidence score was assigned.\n\n* Return valid JSON only.\n* Do not include markdown.\n* Do not include explanations outside JSON.\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        864,
        752
      ],
      "id": "98434886-c655-48f6-95f2-81b9f92fa557",
      "name": "report generate agent"
    },
    {
      "parameters": {
        "jsCode": "let text = $input.first().json.output;\n\n// Remove markdown fences\ntext = text.replace(/```json/g, '');\ntext = text.replace(/```/g, '');\ntext = text.trim();\n\nconst reportId = Date.now().toString();\n\nreturn [\n  {\n    json: {\n      success: true,\n      generatedAt: new Date().toISOString(),\n      reportId,\n      status: \"Pending\",\n      report: JSON.parse(text)\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1168,
        752
      ],
      "id": "15a0df55-7793-4557-b16b-e578795248bb",
      "name": "report parser"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f482f663-56fb-453f-835e-d2e240045baf",
              "name": "season",
              "value": "={{ $json.season }}",
              "type": "string"
            },
            {
              "id": "9218bea9-d664-494d-93f2-d5fc31b879ac",
              "name": "recommended_colors",
              "value": "={{ $json.recommended_colors }}",
              "type": "array"
            },
            {
              "id": "c3c5871a-947d-4f67-90ad-ff399a223eac",
              "name": "foundation_family",
              "value": "={{ $json.foundation_family }}",
              "type": "string"
            },
            {
              "id": "2dda55f7-645e-4fcc-8834-0aae8c561caf",
              "name": "blush_family",
              "value": "={{ $json.blush_family }}",
              "type": "string"
            },
            {
              "id": "43f4ec76-2a8d-4d00-8deb-3a8a67c9bc8a",
              "name": "lipstick_family",
              "value": "={{ $json.lipstick_family }}",
              "type": "string"
            },
            {
              "id": "3453e9f7-546b-4e4a-86a5-90ff9ff1bb17",
              "name": "placement",
              "value": "={{ $json.placement }}",
              "type": "object"
            },
            {
              "id": "9b632dae-df1b-4984-88a2-dcc3dabe0bfe",
              "name": "skin_tone",
              "value": "={{ $json.skin_tone }}",
              "type": "string"
            },
            {
              "id": "dc3495a7-0fc9-4d6f-80b3-0f5352d22b3f",
              "name": "undertone",
              "value": "={{ $json.undertone }}",
              "type": "string"
            },
            {
              "id": "6e6e9e66-ca4b-4073-8ca7-bc53f387e98e",
              "name": "face_shape",
              "value": "={{ $json.face_shape }}",
              "type": "string"
            },
            {
              "id": "c32151be-a9f2-44d9-a5b8-8f80d8269580",
              "name": "skin_type",
              "value": "={{ $json.skin_type }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        688,
        752
      ],
      "id": "6ebfcd2f-3153-4a53-a250-cb68c260f798",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        2720,
        608
      ],
      "id": "6b760c8f-dffa-4b95-ad2a-708f241b3de8",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1mOnLJMIP-3qo4nmFo4_6pIw9OvOhnwKvU9upf2lBE8M",
          "mode": "list",
          "cachedResultName": "ShadeSense",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mOnLJMIP-3qo4nmFo4_6pIw9OvOhnwKvU9upf2lBE8M/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mOnLJMIP-3qo4nmFo4_6pIw9OvOhnwKvU9upf2lBE8M/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp": "={{ $json.generatedAt }}",
            "skin_tone": "={{ $('Edit Fields').item.json.skin_tone }}",
            "undertone": "={{ $('Edit Fields').item.json.undertone }}",
            "face_shape": "={{ $('Edit Fields').item.json.face_shape }}",
            "skin_type": "={{ $('Edit Fields').item.json.skin_type }}",
            "season": "={{ $('Edit Fields').item.json.season }}",
            "foundation_family": "={{ $('Edit Fields').item.json.foundation_family }}",
            "summary": "={{ $json.report.summary }}",
            "status": "={{ $json.status }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "skin_tone",
              "displayName": "skin_tone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "undertone",
              "displayName": "undertone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "face_shape",
              "displayName": "face_shape",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "skin_type",
              "displayName": "skin_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "season",
              "displayName": "season",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "foundation_family",
              "displayName": "foundation_family",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "summary",
              "displayName": "summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1792,
        608
      ],
      "id": "e588a329-e49e-4792-8074-9ba8c0b65294",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "BHWthgDSV91TggE6",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "ishita.23bcs10188@sst.scaler.com",
        "subject": "ShadeSense Analysis Report",
        "message": "=<h2>ShadeSense Report Ready</h2>\n\n<p>Hello,</p>\n\n<p>The beauty analysis report has been successfully generated.</p>\n\n<p>Please find the PDF report attached.</p>\n\n<p>\nRegards,<br>\nShadeSense AI\n</p>",
        "options": {
          "attachmentsUi": {
            "attachmentsBinary": [
              {}
            ]
          }
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        2480,
        608
      ],
      "id": "259a4ff4-7848-4d60-81be-484c4c1f62ab",
      "name": "Send a message",
      "webhookId": "b644b895-4baf-4e47-b430-6fbcd93fe83f",
      "credentials": {
        "gmailOAuth2": {
          "id": "kALIDHN1b6UM9Bpz",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "8e1b3f60-ecee-493d-b03e-f9d03533d4cd",
              "leftValue": "={{ $json.report.confidence }}",
              "rightValue": 70,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1376,
        752
      ],
      "id": "a484ea8e-6e7d-4398-95e6-6832765d26e3",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "08042d78-a2ac-4711-b707-5ea2ca1403f1",
              "name": "status",
              "value": "Approved",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "include": "=all",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1616,
        608
      ],
      "id": "74efc1e1-64cd-4b1c-9d2f-533247a65769",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1mOnLJMIP-3qo4nmFo4_6pIw9OvOhnwKvU9upf2lBE8M",
          "mode": "list",
          "cachedResultName": "ShadeSense",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mOnLJMIP-3qo4nmFo4_6pIw9OvOhnwKvU9upf2lBE8M/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mOnLJMIP-3qo4nmFo4_6pIw9OvOhnwKvU9upf2lBE8M/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp": "={{ $json.generatedAt }}",
            "skin_tone": "={{ $('Edit Fields').item.json.skin_tone }}",
            "undertone": "={{ $('Edit Fields').item.json.undertone }}",
            "face_shape": "={{ $('Edit Fields').item.json.face_shape }}",
            "skin_type": "={{ $('Edit Fields').item.json.skin_type }}",
            "season": "={{ $('Edit Fields').item.json.season }}",
            "foundation_family": "={{ $('Edit Fields').item.json.foundation_family }}",
            "summary": "={{ $json.report.summary }}",
            "status": "={{ $('report parser').item.json.status }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "skin_tone",
              "displayName": "skin_tone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "undertone",
              "displayName": "undertone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "face_shape",
              "displayName": "face_shape",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "skin_type",
              "displayName": "skin_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "season",
              "displayName": "season",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "foundation_family",
              "displayName": "foundation_family",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "summary",
              "displayName": "summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1616,
        768
      ],
      "id": "c6b99ae1-96d8-47c6-a19c-ad9f7061f104",
      "name": "Append row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "BHWthgDSV91TggE6",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "html": "={{ $json.html }}",
        "additionalOptions": {}
      },
      "type": "n8n-nodes-pdfbolt.pdfBolt",
      "typeVersion": 1,
      "position": [
        2272,
        608
      ],
      "id": "6d0d5f1e-2fa8-446c-b83d-5bff23184043",
      "name": "PDFBolt",
      "credentials": {
        "pdfBoltApi": {
          "id": "vDFISq6n2QRfbfwT",
          "name": "PDFBolt account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const report = $('report parser').first().json.report\nconst html = `\n<html>\n<head>\n<style>\nbody{\n  font-family: 'Segoe UI', sans-serif;\n  background:#f5f5dc;\n  color:#4a4a4a;\n  padding:40px;\n  line-height:1.7;\n}\n.header{\n  text-align:center;\n  padding:25px;\n  border-radius:20px;\n  background:linear-gradient(\n      135deg,\n      #b5ead7,\n      #c7ceea\n  );\n  margin-bottom:30px;\n}\n.header h1{\n  margin:0;\n  color:#6b7fa3;\n  font-size:34px;\n}\n.header p{\n  color:#6b6b6b;\n}\n.card{\n  background:white;\n  padding:20px;\n  border-radius:18px;\n  margin-bottom:20px;\n  box-shadow:0 3px 10px rgba(0,0,0,0.08);\n}\nh2{\n  color:#a29bbd;\n  margin-bottom:10px;\n}\nul{\n  padding-left:20px;\n}\nli{\n  margin-bottom:8px;\n}\n.tag{\n  display:inline-block;\n  background:#ffdac1;\n  color:#a07860;\n  padding:8px 14px;\n  margin:4px;\n  border-radius:20px;\n  font-size:14px;\n}\n.confidence{\n  background:#e2f0cb;\n  border-left:6px solid #b5d99c;\n  padding:15px;\n  border-radius:10px;\n}\n.footer{\n  margin-top:30px;\n  text-align:center;\n  color:#888;\n  font-size:12px;\n}\n</style>\n</head>\n<body>\n<div class=\"header\">\n<h1>✨ ShadeSense Beauty Report ✨</h1>\n<p>Personalized AI Beauty Analysis</p>\n</div>\n<div class=\"card\">\n<h2>📝 Summary</h2>\n<p>${report.summary}</p>\n</div>\n<div class=\"card\">\n<h2>🎨 Best Colors</h2>\n${report.best_colors.map(\nc => `<span class=\"tag\">${c}</span>`\n).join('')}\n</div>\n<div class=\"card\">\n<h2>💄 Makeup Recommendations</h2>\n<ul>\n${report.makeup_recommendations.map(\nc => `<li>${c}</li>`\n).join('')}\n</ul>\n</div>\n<div class=\"card\">\n<h2>🛍 Product Recommendations</h2>\n<ul>\n${report.product_recommendations.map(\nc => `<li>${c}</li>`\n).join('')}\n</ul>\n</div>\n<div class=\"card\">\n<h2>🌸 Beauty Tips</h2>\n<ul>\n${report.beauty_tips.map(\nc => `<li>${c}</li>`\n).join('')}\n</ul>\n</div>\n<div class=\"card confidence\">\n<h2>📊 Confidence Analysis</h2>\n<p>\n<b>Confidence Score:</b>\n${report.confidence}%\n</p>\n<p>\n${report.confidence_reason}\n</p>\n</div>\n<div class=\"footer\">\nGenerated by ShadeSense AI • Personalized Beauty Intelligence\n</div>\n</body>\n</html>\n`;\nreturn [{\n  json:{\n    ...$json,\n    html\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        608
      ],
      "id": "d69b756b-beef-4d90-b908-ddb3f2600781",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "sendTo": "ishita.23bcs10188@sst.scaler.com",
        "subject": "ShadeSense Review Required",
        "message": "=<h2>Human Review Required</h2>\n\n<p>\nThe generated beauty analysis could not be automatically approved.\n</p>\n\n<p>\n<b>Confidence Score:</b>{{ $('report parser').item.json.report.confidence }}\n\n</p>\n\n<p>\n<b>Reason:</b><br>\n{{ $('report parser').item.json.report.confidence_reason }}\n</p>\n\n<hr>\n\n<p>\n<b>Analysis Summary</b>\n</p>\n\n<p>\n{{ $('report parser').item.json.report.summary }}\n</p>\n\n<hr>\n\n<p>\nPlease review the report before sending recommendations to the user.\n</p>\n\n<p>\nStatus:\n<b>PENDING_REVIEW</b>\n</p>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1824,
        784
      ],
      "id": "aa664a92-5cf2-4670-8ae7-4b42b153e4d9",
      "name": "Send a message1",
      "webhookId": "b644b895-4baf-4e47-b430-6fbcd93fe83f",
      "credentials": {
        "gmailOAuth2": {
          "id": "kALIDHN1b6UM9Bpz",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"status\": \"PENDING_REVIEW\",\n  \"confidence\":{{ $('report parser').item.json.report.confidence }} ,\n  \"message\": \"Human review required\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        2224,
        832
      ],
      "id": "2d8f7b8d-d15a-45c4-820e-cbccf8563783",
      "name": "Respond to Webhook1"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook1": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Feature extraction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Feature extraction": {
      "main": [
        [
          {
            "node": "Code in JavaScript6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript6": {
      "main": [
        [
          {
            "node": "Colour Palette Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "Product Match Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "MakeUp Placement",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Colour Palette Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Product Match Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "MakeUp Placement",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "report generate agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Colour Palette Agent": {
      "main": [
        [
          {
            "node": "color palette parser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Product Match Agent": {
      "main": [
        [
          {
            "node": "Product Parser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MakeUp Placement": {
      "main": [
        [
          {
            "node": "Makeup Placement Parser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "color palette parser": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Product Parser": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge3": {
      "main": [
        [
          {
            "node": "Merge4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Makeup Placement Parser": {
      "main": [
        [
          {
            "node": "Merge4",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge4": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "report generate agent": {
      "main": [
        [
          {
            "node": "report parser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "report generate agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "report parser": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "PDFBolt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PDFBolt": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet1": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message1": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "85834d88-6528-42b7-a0ef-86c436012a63",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "af2b21de68386f9186f2f300130e6b101c1735bad5a4cacc3d0c7f6c21070816"
  },
  "nodeGroups": [],
  "id": "CmpjTQaykSj6s5PI",
  "tags": []
}