My workflow(S).json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "beauty-analysis",
        "options": {
          "binaryPropertyName": "image"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -592,
        256
      ],
      "id": "9ec1b43c-0e3b-4427-98df-87327dd90212",
      "name": "Webhook1",
      "webhookId": "b65479cc-661d-441d-ae74-b59b90e588b2"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\n\nconst binaryData = await this.helpers.getBinaryDataBuffer(0, 'image0');\n\nreturn [{\n  json: {\n    mimeType: item.binary.image0.mimeType,\n    imageBase64: binaryData.toString('base64')\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -368,
        256
      ],
      "id": "b4792824-40d5-4daa-ae5d-290bf4a89305",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "{{$env.GEMINI_API_KEY}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [\n    {\n      \"parts\": [\n        {\n          \"text\": \"Analyze this face image. Return ONLY valid JSON. No markdown. No explanations. Schema: {\\\"skin_tone\\\":\\\"\\\",\\\"undertone\\\":\\\"\\\",\\\"face_shape\\\":\\\"\\\",\\\"skin_type\\\":\\\"\\\",\\\"visible_features\\\":[],\\\"confidence\\\":0.0}\"\n        },\n        {\n          \"inline_data\": {\n            \"mime_type\": \"{{$json.mimeType}}\",\n            \"data\": \"{{$json.imageBase64}}\"\n          }\n        }\n      ]\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -176,
        256
      ],
      "id": "2f2538b1-d8a9-4d3a-96ef-5134ec4bcab6",
      "name": "Feature extraction"
    },
    {
      "parameters": {
        "jsCode": "const text =\n$input.first().json.candidates[0].content.parts[0].text;\n\nreturn [{\n  json: JSON.parse(text)\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        256
      ],
      "id": "54baf93f-1be6-4a23-8123-aaa82c9d79cf",
      "name": "Code in JavaScript6"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        80,
        880
      ],
      "id": "84dec027-ef35-49d2-895a-d7fe7615416d",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "eUIOG5LqAzd7X5ED",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a professional color analyst.\n\nAnalyze the following beauty profile:\n\n{{ JSON.stringify($json) }}\n\nReturn ONLY valid JSON.\n\n{\n  \"season\": \"\",\n  \"recommended_colors\": [],\n  \"avoid_colors\": []\n}\n\nDo not include markdown.\nDo not explain.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        288,
        16
      ],
      "id": "49646af2-2e5e-4082-bd2e-85a20b66f429",
      "name": "Colour Palette Agent"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a professional beauty product recommender.\n\nUser profile:\n\n{{ JSON.stringify($json) }}\n\nReturn ONLY valid JSON.\n\n{\n  \"foundation_family\": \"\",\n  \"concealer_family\": \"\",\n  \"blush_family\": \"\",\n  \"lipstick_family\": \"\",\n  \"recommended_products\": [\n    {\n      \"type\": \"\",\n      \"shade\": \"\",\n      \"reason\": \"\"\n    }\n  ]\n}\n\nNo markdown.\nNo explanations.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        256,
        256
      ],
      "id": "c471d82f-e6d1-4c5f-855b-1c84b6c48618",
      "name": "Product Match Agent"
    },
    {
      "parameters": {
        "jsCode": "const text = $input.first().json.output\n\nreturn [{\n  json: JSON.parse(text)\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        608,
        256
      ],
      "id": "59363dd7-84b1-4145-ab3d-a0d814648423",
      "name": "Product Parser"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a professional makeup artist.\n\nUser profile:\n\n{{ JSON.stringify($json) }}\n\nReturn ONLY valid JSON.\n\n{\n  \"placement\": {\n    \"blush\": \"\",\n    \"bronzer\": \"\",\n    \"contour\": \"\",\n    \"highlighter\": \"\"\n  },\n  \"tips\": []\n}\n\nNo markdown.\nNo explanations.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        272,
        496
      ],
      "id": "d3afa827-7c60-4a39-9df6-04196d07565d",
      "name": "MakeUp Placement"
    },
    {
      "parameters": {
        "jsCode": "const text = $input.first().json.output\n\nreturn [{\n  json: JSON.parse(text)\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        608,
        496
      ],
      "id": "1d0012b0-0e09-4d38-aa1f-0172ebc5c6de",
      "name": "Makeup Placement Parser"
    },
    {
      "parameters": {
        "jsCode": "const text = $input.first().json.output\n\nreturn [{\n  json: JSON.parse(text)\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        608,
        16
      ],
      "id": "2f60464c-2005-4965-8a5c-780ba5720cb1",
      "name": "color palette parser"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        880,
        160
      ],
      "id": "c79a918b-f94c-4d13-a936-08ed9d2d8937",
      "name": "Merge3"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1088,
        352
      ],
      "id": "3a07f6dd-9efa-4eb5-a4ea-cb2c2b017e3f",
      "name": "Merge4"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a professional beauty consultant.\n\nUsing all available analysis data:\n\n{{ JSON.stringify($json) }}\n\nGenerate a structured beauty report.\n\nReturn ONLY valid JSON.\n\n{\n  \"summary\": \"\",\n  \"best_colors\": [],\n  \"makeup_recommendations\": [],\n  \"product_recommendations\": [],\n  \"beauty_tips\": []\n}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1296,
        352
      ],
      "id": "89333cd2-bdfa-4eb2-ad2d-b2b89db30c0f",
      "name": "report generate agent"
    },
    {
      "parameters": {
        "jsCode": "let text = $input.first().json.output\n\n// Remove markdown fences if present\ntext = text.replace(/```json/g, '');\ntext = text.replace(/```/g, '');\ntext = text.trim();\n\nreturn [{\n  json: JSON.parse(text)\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1616,
        352
      ],
      "id": "2f6bd14f-18e1-4ee4-b085-328f0a87451e",
      "name": "report parser"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook1": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Feature extraction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Feature extraction": {
      "main": [
        [
          {
            "node": "Code in JavaScript6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript6": {
      "main": [
        [
          {
            "node": "Colour Palette Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "Product Match Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "MakeUp Placement",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Colour Palette Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Product Match Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "MakeUp Placement",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "report generate agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Colour Palette Agent": {
      "main": [
        [
          {
            "node": "color palette parser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Product Match Agent": {
      "main": [
        [
          {
            "node": "Product Parser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MakeUp Placement": {
      "main": [
        [
          {
            "node": "Makeup Placement Parser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "color palette parser": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Product Parser": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge3": {
      "main": [
        [
          {
            "node": "Merge4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Makeup Placement Parser": {
      "main": [
        [
          {
            "node": "Merge4",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge4": {
      "main": [
        [
          {
            "node": "report generate agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "report generate agent": {
      "main": [
        [
          {
            "node": "report parser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "cdcbb0b4-937c-41ad-ad1c-65857776ca1b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "af2b21de68386f9186f2f300130e6b101c1735bad5a4cacc3d0c7f6c21070816"
  },
  "nodeGroups": [],
  "id": "CmpjTQaykSj6s5PI",
  "tags": []
}